/* src/components/AvailableOffers.css */
.available-offers {
  padding: 40px 20px;
  background-color: #f0f8ff; /* Color de fondo suave */
}

.available-offers h2 {
  text-align: center;
  margin-bottom: 10px;
}

.available-offers p {
  text-align: center;
  margin-bottom: 30px;
}

.offers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las tarjetas */
}

.offer-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  width: 250px; /* Ancho fijo para las tarjetas */
  text-align: center;
  transition: all 0.3s ease; /* Añadido para suavizar la transición */
}

.offer-card:hover {
  transform: translateY(-5px); /* Eleva la tarjeta ligeramente */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra más pronunciada */
}

.offer-card h3 {
  margin-top: 10px;
}

.offer-icon {
  width: 50px; /* Tamaño del icono */
  height: auto; 
  color: #007bff; /* Color del icono */
  transition: transform 0.3s ease; /* Añadido para animar el icono */
}

.offer-card:hover .offer-icon {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño del icono al hacer hover */
}

.icon {
  margin-right: 5px; /* Espacio entre el icono y el texto */
}

.offer-card .price {
  font-size: 1.2em;
  font-weight: bold;
  color: #007bff; /* Color para el precio */
}

.book-now {
  background-color: #28a745; /* Color del botón */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Suaviza la transición del color de fondo */
}

.book-now:hover {
  background-color: #218838; /* Color al pasar el mouse */
}